body {
   background-color: #1c1c1c;
   color: #ffffff;
   font-family: monospace;
   padding: 15px;
}

.title {
   font-size: 45px;
   color: #00ff7f;
}

.list-item {
   margin-bottom: 15px;
   font-size: 20px;
}

input {
   height: 30px;
   background-color: transparent;
   color: white;
   border-color: #00ff7f;
   border-radius: 5px;
   font-size: 16px;
   padding: 4px;
}

button {
   height: 30px;
   font-size: 14px;
   padding: 4px;
   background-color: #228b22;
   border-width: 0px;
   border-radius: 4px;
   color: white;
   font-weight: bold;

}